@import 'themes/healbe';

//sizes
//basic sizes
$main-padding: 10px;
$main-padding-high: 20px;
$main-padding-min: 5px;
$border-radius: 4px;
$border-radius-min: 2px;

$layout-width-desktop: 1440px;
$layout-width-content-desktop: 1170px;

* {
  outline: 0 none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  width: 100%;
  max-width: $layout-width-desktop;
  margin: 0 auto;
}

.content-wrapper {
  width: 100%;
  max-width: $layout-width-content-desktop;
  margin: 0 auto;
}

a {
  cursor: pointer;
  text-decoration: none;
  transition: $transition-default;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

//typography //TODO @uIsk - move it to single Scss
//font-sizes
$fs-10: 10px;
$fs-12: 12px;
$fs-14: 14px;
$fs-16: 16px;
$fs-18: 18px;

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.semi-bold {
  font-weight: 500;
}

.bold {
  font-weight: 600;
}

.boldest {
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.fs-10 {
  font-size: $fs-10;
}

.fs-12 {
  font-size: $fs-12;
}

.fs-14 {
  font-size: $fs-14;
}

.fs-16 {
  font-size: $fs-16;
}

.fs-18 {
  font-size: $fs-18;
}

//end

//spacers
$spacer: 10px;
$spacer-x: $spacer;
$spacer-y: $spacer;

$spacers: ();

@for $i from 0 through 6 {
  $spacers: map-merge($spacers, (
          $i: (
                  x: $spacer-x * $i,
                  y: $spacer-y * $i
          )
  ))
}

@each $prop, $abbrev in (margin: m, padding: p) {
  @each $size, $lengths in $spacers {
    $length-x: map-get($lengths, x);
    $length-y: map-get($lengths, y);

    .#{$abbrev}-a-#{$size} {
      #{$prop}: $length-y $length-x !important;
    }
    .#{$abbrev}-t-#{$size} {
      #{$prop}-top: $length-y !important;
    }
    .#{$abbrev}-r-#{$size} {
      #{$prop}-right: $length-x !important;
    }
    .#{$abbrev}-b-#{$size} {
      #{$prop}-bottom: $length-y !important;
    }
    .#{$abbrev}-l-#{$size} {
      #{$prop}-left: $length-x !important;
    }

    .#{$abbrev}-x-#{$size} {
      #{$prop}-right: $length-x !important;
      #{$prop}-left: $length-x !important;
    }
    .#{$abbrev}-y-#{$size} {
      #{$prop}-top: $length-y !important;
      #{$prop}-bottom: $length-y !important;
    }
  }
}
//end

.full {
  &-width {
    width: 100%;
  }

  &-height {
    height: 100%;
  }
}

.nowrap {
  white-space: nowrap;
}

//flex classes
.flex {
  display: flex;
  justify-content: space-between;

  &-h-center {
    justify-content: center;
  }

  &-center {
    align-items: center
  }

  &-wrap {
    flex-wrap: wrap;
  }

  &-grow {
    flex-grow: 1;
  }

  &-nogrow {
    flex-grow: 0 !important;
  }

  &-start {
    justify-content: flex-start;
  }

  &-end {
    justify-content: flex-end;
  }

  &-column {
    flex-direction: column;
  }
}
